.facilitiesdark{
    padding-top: 3rem;
    &__subtittle{
        @extend .letter--archivo;
        padding-top: 3rem;
        font-weight: 700;
        font-size: .875rem;
        line-height: .955rem;
        letter-spacing: .175rem;
        color: white;
        text-align: center;
        padding-bottom: 1rem;
    }
    &__tittle{
        @extend .letter--old;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 3.75rem;
        letter-spacing: -0.075rem;
        color: white;
        text-align: center;
        padding-bottom: 1rem;
    }
    &__features{
        &__rating{
            @extend .letter--old;
            font-weight: 400;
            font-size: 1.875rem;
            line-height: 1.875rem;
            letter-spacing: .0563rem;
            color: white;
            padding-top: 2.5rem;
            padding-bottom: 1.5rem;
        }
        &__description{
            @extend .letter--archivo;
            font-weight: 400;
            font-size: .875rem;
            line-height: 1.5rem;
            color: white;
            max-width: 16rem;

        }
    }
}


.swiper__core{
    background-color: #222222;
    margin-top: 4rem;
    margin-bottom: 5rem;
    
    &__pagination{
        margin-top: 2rem;
        position: relative;
        transform: translate(0%,100%);
        &>span{
            background-color: #BEAD8E;
        }
    }
}

.swiper-wrapper{
    background-color: #292929;
    margin-bottom: 4rem;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.facilitiesdark__features__touch{
    padding-top: 2rem;
}

#facilitiesdark__features{
    padding-left: 2rem;
    padding-top: 2rem;
    background-image: url(../assets/01.png);
    background-repeat: no-repeat;
    background-position: right top;
    transform: translate(-5%,0%);
}
#facilitiesdark__features2{
    padding-left: 2rem;
    padding-top: 2rem;
    background-image: url(../assets/02.png);
    background-repeat: no-repeat;
    background-position: right top;
    transform: translate(-5%,0%);
}

#facilitiesdark__features3{
    padding-left: 2rem;
    padding-top: 2rem;
    background-image: url(../assets/03.png);
    background-repeat: no-repeat;
    background-position: right top;
    transform: translate(-5%,0%);
}

#facilitiesdark__features4{
    padding-left: 2rem;
    padding-top: 2rem;
    background-image: url(../assets/04.png);
    background-repeat: no-repeat;
    background-position: right top;
    transform: translate(-5%,0%);
}

#facilitiesdark__features5{
    padding-left: 2rem;
    padding-top: 2rem;
    background-image: url(../assets/05.png);
    background-repeat: no-repeat;
    background-position: right top;
    transform: translate(-5%,0%);
}

#facilitiesdark__features6{
    padding-left: 2rem;
    padding-top: 2rem;
    background-image: url(../assets/06.png);
    background-repeat: no-repeat;
    background-position: right top;
    transform: translate(-5%,0%);
}