.header{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 4rem;
    align-items: center;
    box-shadow: 0px 3px 6px 0px #0000004A;
    z-index: 2; 

    &__hamburguer{
        padding-left: 1rem;
    }
    &__close{
        display: none;
    }

    &__person{
        padding-right: 1.5rem;
    }

    &__hotel{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 1.5rem;
        padding-right: 7rem;
        &__h{
            background-color: white;
            margin-right: 1rem;
            padding: .5rem;
            box-shadow: 0px 14px 24px 0px #8B8B8B40;

        }
        &__miranda{
            height: 1.5rem;
        }
    }
    &__list{
        display: none;
        &__about{
            font-family: "Archivo", sans-serif;
            list-style: none;
            line-height: 2.5rem;
            font-weight: 600;
        }
    }
    //Burguer Menu
    &__hamburguer.ocult{
        display: none;
    }

    &__close.visible{
        padding-left: 1rem;
        display: block;
    }
    
    &__list.visible{
        z-index: 5;
        display: block;
        position: absolute;
        top: 4rem;
        left: 0;
        right: 0;
        background-color: white;
        box-shadow: 0px 3px 6px 0px #0000004A; 
        z-index: 1; 
        padding: 1rem; 
    }
}
