.statistics{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #222222;
    &__content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &__img{
            width: 5rem;
            height: 5rem;
            padding-bottom: 1rem
        }
        &__tittle{
            @extend .letter--roboto;
            font-weight: 700;
            font-size: 3.75rem;
            line-height: 5.115rem;
            color: white;
            &__more{
                font-size: 1rem;
                line-height: 1.3638rem;
            }
        }
        &__subtittle{
            @extend .letter--roboto;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.3638rem;
            color: #999999;
            padding-bottom: 3rem;
        }
    }
}