.header {
  display: grid;
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
.header__container {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 4rem;
  align-items: center;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  z-index: 2;
}
.header__container__hamburguer {
  padding-left: 1rem;
}
.header__container__close {
  display: none;
}
.header__container__person {
  padding-right: 1.5rem;
}
.header__container__hotel {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 7rem;
}
.header__container__hotel__h {
  margin-right: 1rem;
  padding: 0.5rem;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
}
.header__container__hotel__miranda {
  height: 1.5rem;
}
.header__list__container {
  display: none;
}
.header__list__container__about {
  list-style: none;
  line-height: 2.5rem;
  font-weight: 600;
}
.header__container__hamburguer.ocult {
  display: none;
}
.header__container__close.visible {
  padding-left: 1rem;
  display: block;
}
.header__list__container.visible {
  display: block;
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  padding: 1rem;
}

.hotel {
  background-image: url(../assets/background__rectangle.png);
  display: flex;
  flex-direction: column;
}
.hotel__head {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1.5rem;
}
.hotel__head__content {
  width: 5rem;
  height: 5rem;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.1490196078);
  background-color: #BEAD8E;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotel__head__content__h {
  width: 1.9375rem;
  height: 2.6875rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.6875rem;
  color: white;
}
.hotel__head__hotel {
  padding-left: 1.5rem;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.7681rem;
  letter-spacing: 2.6px;
  max-width: 20px;
}
.hotel__head__hotel__span {
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 1.7681rem;
  letter-spacing: 2.6px;
}
.hotel__description {
  padding-left: 1.5rem;
  padding-top: 3rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #777777;
}
.hotel__icons {
  display: flex;
  flex-direction: row;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}
.hotel__icons__content {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F8F8;
  margin-left: 0.5rem;
}
.hotel__services {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 1.5rem;
}
.hotel__services__tittle {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-bottom: 2rem;
}
.hotel__services__options {
  display: flex;
  flex-direction: row;
}
.hotel__services__options__left {
  display: flex;
  flex-direction: column;
}
.hotel__services__options__left p {
  color: #777777;
  font-weight: 400;
  font-size: 1rem;
  line-height: 3rem;
}
.hotel__services__options__right {
  display: flex;
  flex-direction: column;
}
.hotel__services__options__right p {
  color: #777777;
  font-weight: 400;
  font-size: 1rem;
  line-height: 3rem;
  padding-left: 2rem;
}
.hotel__contact {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.hotel__contact__us {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.hotel__contact__content {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
}
.hotel__contact__content__img {
  width: 2.5rem;
  height: 2.5rem;
}
.hotel__contact__content__text {
  padding-left: 1.5rem;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  max-width: 180px;
}
.hotel__contact__content__text__span {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0088rem;
  color: gray;
}

.footer {
  background-color: #F8F8F8;
  padding: 1rem;
  padding-left: 1.5rem;
}
.footer--letter, .footer__terms, .footer__copyright {
  color: black;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1719rem;
  letter-spacing: -0.48px;
}
.footer__copyright {
  padding-bottom: 1rem;
}
.ultimate {
  background-color: #333333;
  padding-bottom: 3rem;
}
.ultimate__luxury {
  padding-top: 4rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}
.ultimate__luxury__content {
  color: white;
  font-weight: 700;
  line-height: 1.125rem;
  font-size: 0.8125rem;
  letter-spacing: 0.175rem;
}
.ultimate__base {
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}
.ultimate__base__content {
  color: white;
  font-weight: 400;
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -1.2px;
}
.ultimate__take {
  margin-left: 1.5rem;
  width: 55%;
  background-color: #BEAD8E;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.ultimate__take__tour {
  color: white;
  font-weight: 700;
  line-height: 1.125rem;
  font-size: 0.8125rem;
  letter-spacing: 0.175rem;
  text-align: center;
}
.ultimate__learn {
  margin-left: 1.5rem;
  width: 55%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.3294117647);
}
.ultimate__learn__more {
  color: white;
  font-weight: 700;
  line-height: 1.125rem;
  font-size: 0.8125rem;
  letter-spacing: 0.175rem;
  text-align: center;
}

.date {
  background-color: #222222;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}
.date--h4decoration, .date__availability__button, .date__ledeparture h4, .date__arrival h4 {
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.1719rem;
  padding-bottom: 1rem;
}
.date--calendar, .date__ledeparture__date__calendar, .date__arrival__date__calendar {
  border: none;
  outline: none;
  padding: 5px;
  padding-left: 0.8rem;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  color: #686868;
  font-size: 0.875rem;
  line-height: 1.0256rem;
  font-weight: 400;
}
.date__arrival {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.date__arrival__date {
  width: 95%;
  display: flex;
  align-items: center;
  border-bottom: 0.1875rem solid #BEAD8E;
  padding-bottom: 0.1875rem;
}
.date__arrival__date__calendar::-webkit-calendar-picker-indicator {
  display: none;
}
.date__ledeparture {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.date__ledeparture__date {
  width: 95%;
  display: flex;
  align-items: center;
  border-bottom: 0.1875rem solid #BEAD8E;
  padding-bottom: 0.1875rem;
}
.date__ledeparture__date__calendar::-webkit-calendar-picker-indicator {
  display: none;
}
.date__availability {
  width: 70%;
  background-color: #BEAD8E;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.date__availability__button {
  background-color: transparent;
  border: 0px solid;
  padding-bottom: 0;
  align-items: center;
  letter-spacing: 0.175rem;
  font-weight: 600;
  line-height: 0.9519rem;
}

.about {
  background-color: #F9F9F9;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-bottom: 10rem;
}
.about__us {
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.175rem;
  color: #777777;
}
.about__discover {
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -0.075rem;
}
.about__description {
  line-height: 1.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  padding-bottom: 1.5rem;
  color: #777777;
}
.about__book {
  width: 55%;
  background-color: #BDAC8D;
  padding: 1rem;
  text-align: center;
}
.about__book__button {
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.9375rem;
  letter-spacing: 2.8px;
  border: 0 solid;
}

.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -6rem;
  margin-bottom: 2rem;
  width: 80%;
  margin-left: 10%;
}
.card1__img {
  width: 16.875rem;
  height: 18.75rem;
  background-color: #E4E4E4;
}
.card1__strong {
  width: 90%;
  box-shadow: 0px 8px 16px 0px rgba(34, 34, 34, 0.0196078431);
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/teamback.png);
  background-repeat: no-repeat;
  background-position: right top;
  padding-bottom: 2rem;
}
.card1__strong__team {
  padding-bottom: 2rem;
}
.card1__strong__strong {
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.875rem;
  letter-spacing: -0.0563rem;
  padding-bottom: 1.5rem;
}
.card1__strong__description {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-align: center;
}

.card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: 80%;
  margin-left: 10%;
}
.card2__img {
  width: 16.875rem;
  height: 18.75rem;
  background-color: #E4E4E4;
}
.card2__luxury {
  padding-top: 3rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
  padding-bottom: 2.5rem;
}
.card2__luxury__calendar {
  width: 3.5625rem;
  height: 3.125rem;
}
.card2__luxury__room {
  padding-top: 1.5rem;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.875rem;
  letter-spacing: -0.0563rem;
  padding-bottom: 1.5rem;
  color: white;
}
.card2__luxury__description {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-align: center;
  color: white;
}

.hand {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}
.hand__rooms {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.9519rem;
  letter-spacing: 0.175rem;
  color: #777777;
  text-align: center;
  padding-bottom: 2rem;
}
.hand__picked {
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -0.075rem;
  text-align: center;
}
.hand__properties {
  z-index: 2;
}
.hand__swiper {
  background-color: #E4E4E4;
  width: 23.4375rem;
  height: 15.25rem;
  margin-top: -2.5rem;
}
.hand__minimal {
  margin-top: -1rem;
  width: 90%;
  z-index: 2;
  background-color: white;
}
.hand__minimal__duplex {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.075rem;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.hand__minimal__description {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center;
}
.hand__minimal__price {
  padding-top: 1rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.6875rem;
  text-align: center;
  color: #BEAD8E;
}
.hand__minimal__price__span {
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 2.6875rem;
  text-align: center;
}

.intro {
  padding-left: 1.5rem;
  background-color: #222222;
  padding-bottom: 3rem;
}
.intro__subtittle {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.9519rem;
  letter-spacing: 0.175rem;
  color: #BDAC8D;
  padding-bottom: 1.5rem;
  padding-top: 3.5rem;
}
.intro__tittle {
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -0.075rem;
  max-width: 20rem;
  color: white;
  padding-bottom: 1rem;
}
.intro__description {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #C2C2C2;
  max-width: 21rem;
}
.intro__video {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 20.9375rem;
  height: 16.875rem;
  border: 0 solid;
}
.intro__button {
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.9375rem;
  letter-spacing: 2.8px;
  border: 0 solid;
  width: 65%;
  background-color: #BDAC8D;
  padding: 1.5rem;
  text-align: center;
}

.facilities {
  padding-top: 3rem;
}
.facilities__subtittle {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.955rem;
  letter-spacing: 0.175rem;
  color: #777777;
  text-align: center;
  padding-bottom: 1rem;
}
.facilities__tittle {
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -0.075rem;
  color: #222222;
  text-align: center;
  padding-bottom: 1rem;
}
.facilities__features__rating {
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.875rem;
  letter-spacing: 0.0563rem;
  color: #222222;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}
.facilities__features__description {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #777777;
  max-width: 16rem;
}

.swiper__core {
  margin-top: 4rem;
  margin-bottom: 5rem;
  position: absolute;
}
.swiper__core__pagination {
  margin-top: 2rem;
  position: relative;
  transform: translate(0%, 100%);
}
.swiper__core__pagination > span {
  background-color: #BEAD8E;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

#facilities__features {
  padding-left: 2rem;
  padding-top: 2rem;
  background-image: url(../assets/01.png);
  background-repeat: no-repeat;
  background-position: right top;
  transform: translate(-5%, 0%);
}

#facilities__features2 {
  padding-left: 2rem;
  padding-top: 2rem;
  background-image: url(../assets/02.png);
  background-repeat: no-repeat;
  background-position: right top;
  transform: translate(-5%, 0%);
}

#facilities__features3 {
  padding-left: 2rem;
  padding-top: 2rem;
  background-image: url(../assets/03.png);
  background-repeat: no-repeat;
  background-position: right top;
  transform: translate(-5%, 0%);
}

#facilities__features4 {
  padding-left: 2rem;
  padding-top: 2rem;
  background-image: url(../assets/04.png);
  background-repeat: no-repeat;
  background-position: right top;
  transform: translate(-5%, 0%);
}

#facilities__features5 {
  padding-left: 2rem;
  padding-top: 2rem;
  background-image: url(../assets/05.png);
  background-repeat: no-repeat;
  background-position: right top;
  transform: translate(-5%, 0%);
}

#facilities__features6 {
  padding-left: 2rem;
  padding-top: 2rem;
  background-image: url(../assets/06.png);
  background-repeat: no-repeat;
  background-position: right top;
  transform: translate(-5%, 0%);
}

.swiperfoods {
  height: auto;
  margin-top: -2rem;
  display: flex;
  background-image: url(../assets/donut.png);
  background-position: top right;
  background-repeat: no-repeat;
}
.swiperfoods .swiper-button-prev,
.swiperfoods .swiper-button-next {
  width: 2.25rem;
  height: 2.25rem;
}
.swiperfoods__buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  margin-top: -1rem;
  padding-bottom: 2rem;
}
.swiperfoods__buttons__prev {
  background-color: #F8F8F8;
  color: black;
}
.swiperfoods__buttons__prev::after {
  content: "<";
  color: black;
}
.swiperfoods__buttons__next {
  background-color: #BEAD8E;
  color: white;
}
.swiperfoods__buttons__next::after {
  content: ">";
  font-size: 2px;
  color: white;
}
.swiperfoods__subtittle {
  padding-top: 8rem;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.9519rem;
  letter-spacing: 0.175rem;
  color: #777777;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}
.swiperfoods__tittle {
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -0.075rem;
  color: #222222;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}
.swiperfoods__content {
  display: flex;
  flex-direction: row;
}
.swiperfoods__content > .swiperfoods__content__foods {
  display: flex;
  flex-direction: column;
}
.swiperfoods__content__foods__img {
  width: 7.5rem;
  height: 7.5rem;
  padding-left: 1.5rem;
  background-color: gray;
}
.swiperfoods__content__foods__description {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}
.swiperfoods__content__foods__description__tittle {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -0.045rem;
  color: #222222;
  padding-bottom: 1rem;
}
.swiperfoods__content__foods__description__subtittle {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #222222;
  max-width: 12rem;
  padding-bottom: 2rem;
}

#content__div {
  display: flex;
  flex-direction: row;
}

/*
@mixin swiperArrows($bgColor, $color, $content) {
    background-color: $bgColor;
    color: $color;
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(0, -5rem);

    &::after {
        content: $content;
        font-size: 9px;
    }
}

.swiper {
    width: 100%;
}

.swiper-button-next.--custom {
    $bgColor: map-get($map: $theme-colors, $key: senary);
    @include swiperArrows($bgColor: $bgColor, $color: white, $content: '>');
}

.swiper-button-prev.--custom {
    $bgColor: map-get($map: $theme-colors, $key: main);
    @include swiperArrows($bgColor: $bgColor, $color: black, $content: '<');
}*/
.slider {
  width: 90%;
  margin-top: 2rem;
}
.slider__content {
  width: 20.9375rem;
  height: 20.9375rem;
}
.slider__content__img {
  width: 20.9375rem;
  height: 20.9375rem;
  background-color: lightblue;
}
.slider__content__img img {
  width: 20.9375rem;
  height: 20.9375rem;
}

.swiper-pagination > span {
  background-color: #BEAD8E;
}

.statistics {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #222222;
}
.statistics__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.statistics__content__img {
  width: 5rem;
  height: 5rem;
  padding-bottom: 1rem;
}
.statistics__content__tittle {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 5.115rem;
  color: white;
}
.statistics__content__tittle__more {
  font-size: 1rem;
  line-height: 1.3638rem;
}
.statistics__content__subtittle {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3638rem;
  color: #999999;
  padding-bottom: 3rem;
}

.luxury {
  background-color: #333333;
  padding-left: 1.5rem;
}
.luxury__subtittle {
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.175rem;
  color: white;
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.luxury__tittle {
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -0.075rem;
  color: white;
  padding-bottom: 2rem;
}
.luxury__content {
  margin-left: 54%;
  align-self: flex-end;
  background-color: white;
  padding: 1rem;
  width: 42%;
  text-align: center;
}
.luxury__content__home {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.0713rem;
  letter-spacing: -0.03rem;
}
.luxury__content__home__about {
  color: #BEAD8E;
}

.years {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
}
.years__video {
  height: 186px;
  width: 335px;
  margin-left: 5%;
}
.years__tittle {
  padding-top: 2rem;
  color: #222222;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4719rem;
  letter-spacing: 0.0725rem;
  text-align: center;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.whitespace {
  background-color: white;
  padding: 2rem;
}

.letter--archivo, .header__list__container__about, .hotel__head__content__h, .hotel__head__hotel, .hotel__head__hotel__span, .hotel__description, .ultimate__luxury__content, .ultimate__take__tour, .ultimate__learn__more, .about__description, .about__book__button, .hand__rooms, .hand__minimal__price, .hand__minimal__price__span, .intro__subtittle, .intro__description, .intro__button, .facilities__subtittle, .facilities__features__description, .swiperfoods__subtittle, .luxury__subtittle, .luxury__content__home {
  font-family: "Archivo", sans-serif;
}
.letter--old, .hotel__services__tittle, .hotel__contact__us, .hotel__contact__content__text, .ultimate__base__content, .about__discover, .card1__strong__strong, .card2__luxury__room, .hand__picked, .hand__minimal__duplex, .intro__tittle, .facilities__tittle, .facilities__features__rating, .swiperfoods__tittle, .swiperfoods__content__foods__description__tittle, .luxury__tittle, .years__tittle {
  font-family: "Old Standard TT", serif;
}
.letter--roboto, .hotel__services__options__left p, .hotel__services__options__right p, .hotel__contact__content__text__span, .footer--letter, .footer__copyright, .footer__terms, .date--h4decoration, .date--calendar, .date__arrival h4, .date__arrival__date__calendar, .date__ledeparture h4, .date__ledeparture__date__calendar, .date__availability__button, .about__us, .card1__strong__description, .card2__luxury__description, .hand__minimal__description, .swiperfoods__content__foods__description__subtittle, .statistics__content__tittle, .statistics__content__subtittle {
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
