@import './header.scss';
@import './ultimate.scss';
@import './date.scss';
@import './about.scss';
@import './footer.scss';
@import './card.scss';
@import './hand.scss';
@import './intro.scss';
@import './facilities.scss';
@import './foods.scss';
@import './slider.scss';
@import './statistics.scss';

html, * { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0 }
body { min-width: 320px }

.whitespace{
    background-color: white;
    padding: 2rem;
}

.letter{
&--archivo{
    font-family: "Archivo", sans-serif;
}

&--old{
    font-family: "Old Standard TT", serif;
}

&--roboto{
    font-family: "Roboto", sans-serif;
}}

