//global
@import './header.scss';
@import './hotel.scss';
@import './footer.scss';
//Home
@import './home/ultimate.scss';
@import './home/date.scss';
@import './home/about.scss';
@import './home/card.scss';
@import './home/hand.scss';
@import './home/intro.scss';
@import './home/facilities.scss';
@import './home/foods.scss';
@import './home/slider.scss';
@import './home/statistics.scss';
//About
@import './about/ultimate.scss';
@import './about/years.scss';
@import './about/pictures.scss';

html, * { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0 }
body { min-width: 320px }

.whitespace{
    background-color: white;
    padding: 2rem;
}

.letter{
&--archivo{
    font-family: "Archivo", sans-serif;
}

&--old{
    font-family: "Old Standard TT", serif;
}

&--roboto{
    font-family: "Roboto", sans-serif;
}}

